<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <% wicked_pdf_stylesheet_link_tag "pdf" %>
    <% wicked_pdf_javascript_include_tag "number_pages" %>

    <% if @document['cat_ssi'] == 'author' %>
        <i><%= @document['volume_title_tesim'].first unless @document['volume_title_tesim'].blank? %></i>
        <% unless @document['author_name_tesim'].first.blank? %>
          <%= ' - ' + t('author.author_potrait_written_by') + " "+ @document['author_name_tesim'].first%>
        <% end %>
  <% elsif @document['cat_ssi'] == 'period' %>
        <i><%= @document['work_title_tesim'].first+' - ' unless @document['volume_title_tesim'].blank? %></i>
        Periodebeskrivelse af
        <%= @document['author_name_tesim'].first unless @document['author_name_tesim'].blank? %>
    <% else %>
    <div id="pdf_header">
      <%= @document['author_name_ssim'].first+',' unless @document['author_name_ssim'].blank? %>
      <i><%= @document['volume_title_tesim'].first+',' unless @document['volume_title_tesim'].blank? %></i>
      <%= @document['date_published_ssi'] unless @document['date_published_ssi'].blank? %>
    </div>
    <% end %>
  </head>
</html>