<script type="text/javascript">
    $(document).ready(function () {
        dkBreve.onDocumentReady();
    });
</script>



<% has_text = document['has_text_ssi'].present? && document['has_text_ssi'] == 'yes' %>
<% has_facs = document['has_facs_ssi'].present? && document['has_facs_ssi'] == 'yes' %>

<% if current_search_session %>
    <div id="appliedParams" class="clearfix constraints-container">
      <%= link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-secondary" %>
      <%= link_back_to_catalog class: 'btn btn-secondary' %>
    </div>
<% end %>

<%= render :partial => 'show_tools_work' %>

<div class="document">
  <div class="row ">
    <div class="col-sm-12">
      <%= render 'applied_edition' %>
    </div>
  </div>



  <% if has_text && has_facs %>
      <div class="row lpContainer">
        <div class="col-sm-6 lpTextContainer"><%= render 'text' %></div>
        <div class="col-sm-6 lpFacsContainer"><%= render 'facsimile' %></div>
      </div>
  <% elsif has_text %>
      <div class="row lpContainer">
        <div class="col-sm-12"><%= render 'text' %></div>
      </div>
  <% elsif has_facs %>
      <div class="row lpContainer">
        <div class="col-sm-12"><%= render 'facsimile' %></div>
      </div>
  <% end %>
</div>





