<!--Retrieve the query-->
<% query_params = current_search_session.try(:query_params) %>
<% search_field = query_params[:search_field] %>

<%# If the search field is fritekst, get the last query and remove " %>
<%# If not, the the q parameter will be left empty and the render_snippet will not highlight the text %>
<% if search_field == "Alt" %>
    <% query_params = current_search_session.try(:query_params)
       query = query_params[:q] if query_params.present?
       query = query.gsub!(/^\"|\"?$/, '') if query.present? %>
<% end %>
<div class="textToolbar">
  <%= link_to(solr_document_path(@document, format: :pdf), :target => "_blank") do %>
      <i class="fa fa-lg fa-download" aria-hidden="true"></i> <%= t('blacklight.text_toolbar.text') %>
  <% end %>
  <a href="javascript:toggleHighlight()">
    <i class="fa fa-paint-brush"></i> <%= t('blacklight.text_toolbar.highlight') %>
  </a>
  <i id="ocrFullscreenButton" class="fa fa-expand fa-lg" title="<%= t('blacklight.text_toolbar.fullscreen') %>"></i>
</div>
<article class="ocr">
  <%= FileServer.render_snippet(@document['id'],
                                {q: query,op: "render"}) %>
</article>


