<% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
<% else %>
    <% if has_search_parameters? %>
        <%= render 'catalog/search_form' %>
        <div id="content" class="content-not-main">
          <div class="container">
            <div class="row">
              <div id="sidebar" class="<%= sidebar_classes %>">
                <%= render 'search_sidebar' %>
              </div>
              <div class="col-md-9 col-sm-8">
                <%= render 'search_results' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

